@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.all-price {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    background-color: #020203FF;
    margin-top: 100px;
}

.amount-info {
    text-align: center;
    color: white;
    padding: 15px 0 15px 0;
    margin-bottom: 10px;
}

.amount-info1 {
    text-align: center;
    color: white;
    padding: 20px 100px 20px 100px;
    margin-bottom: 10px;
    margin-top: 50px;
}

.amount-info1 h3 {
    font-family: "Press Start 2P";
    margin-bottom: 20px; 
}

.divp {
    text-align: center;
    color: white;
    padding: 15px 0 15px 0;
    margin-bottom: 10px;
}

.all-amount {
    padding: 50px 0 50px 0;
    width: 100%;
}

.accounts-amount {
    color: white;
    margin-left: 15px;
    text-align: center;
    box-shadow: -5px 0 0 0 rgb(255, 255, 255), 5px 0 0 0 rgb(255, 255, 255), 0 -5px 0 0 rgb(255, 255, 255), 0 5px 0 0 rgb(255, 255, 255);
    padding: 20px;
    margin-top: 30px;
}

@media screen and (max-width: 380px) {
    .accounts-amount {
        margin-left: -10px;
        padding: 10px;
   }
}

.accounts-amount:hover {
    color: back;
}

.actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 390px;
}

.accounts-amount h6 {
    font-size: larger;
    font-weight: bold;
    
}

.divp p::selection {
    background-color: white;
    color: black;
}


.accounts-amount h5 {
    font-family: "Press Start 2P";
    font-weight: bolder;
}

.accounts-amount p {
    color: rgb(104, 104, 104);
}

.accounts-amount p::selection {
    background-color: black;
    color: white;
}

.amount-info h3 {
    font-family: "Press Start 2P";
}

.amount-info h3::selection {
    background-color: white;
    color: black;
}

.accounts-amount h5::selection {
    background-color: black;
    color: white;
}

.accounts-amount h6::selection {
    background-color: black;
    color: white;
}

.accounts-amount:hover {
    color: black;
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
}

.guarantees {
    justify-content: center;
}

.guarantees p {
    color: white;
    padding: 10px;
}

.donefa {
    font-size: px;
    color: green;
    padding: 10px;
}

.guaritem {
    border: 1px solid white;
    width: 250px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}