@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.all-support {
    width: 100%;
    background-color: #020203FF;
    padding-top: 100px;
    padding-bottom: 50px;
}

.header-info h5 {
    font-family: 'Gilroy-Bold', sans-serif;
    color: white;
}

.header-info {
    text-align: center;
    padding: 20px;
}

.header-info p {
    font-size: 20px;
    color: gray;
}

.downstream-support {
    padding: 20px;
    margin-top: 60px;
    flex-wrap: wrap;
}

.supform {
    color: white;
    width: 60%;
    box-shadow: 10px 0 0 0;
    flex-wrap: wrap;
    
}

.supform h4 {
    text-align: center;
}

.supform input {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #838383;
    flex-wrap: wrap;
}

::placeholder {
    color: #333;
}

.supnameinput {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .supname2 {
        margin-right: 100pxp;
    }
    .supname1 {
        margin: 0px 0px 0px 0px;
    }
    .supform {
        box-shadow: 0px 0 0 0;
    }
}

@media screen and (max-width: 500px) {
    .supname2 {
        margin: 10px 25px 0 0;
    }
    .supname1 {
        margin: 0 0 0 25px;
    }
}

.supname1 {
    margin-right: 25px;
}

.supname2 {
    margin-left: 25px;
}

.themetype {
    text-align: center;
    margin-top: 25px;
}

.textalt {
    width: 60%;
    height: 200px;
    background-color: #838383;
    color: #333;
    border-radius: 5px;
    transition: 0.5s;
}

.textalt:hover {
    border-radius: 15px;
}

.alltext {
    text-align: center;
    margin-top: 20px;
}

.fileinfo {
    text-align: center;
}

.downstream-support {
    display: flex;
}

.supform-info {
    width: 40%;
}

.supform-info h4 {
    color: white;
    margin-left: 20%;
}

.supform-info p {
    padding: 20px  0  20px 20px;
    color: #838383;
}

.supform-info a {
    padding:  0px 20px 20px  20px;
    color: #838383;
}

#fileinp {
    display: none;
}

.fileinfo{
    margin-bottom: 20px;
}

.fileinfo label {
    height: 50px;
    width: 75%;
    border-radius: 25px;
    color: #333;
    background-color: #838383;
    font-size: 30px;
}

.fileinfo label:hover {
    cursor: pointer;
}


@media screen and (max-width: 900px) {
    .downstream-support{
        display: flex;
        flex-direction: column;
    }
    .supform{
        box-shadow: 0 10px 0;
        padding-bottom: 20px;
        margin-bottom: 20px;
        width: 100%;
    }
    .supform-info {
        text-align: center;
        width: 100%;
    }
    .supform-info h4 {
        margin: 0;
    }
}

.sub input{
    border: 0;
    padding: 20px;
    border-radius: 25px;
    color: rgb(0, 108, 65);
    background-color: rgb(0, 36, 21);
    font-size: 30px;
    transition: 1s;
}

.sub input:hover {
    color: rgb(0, 36, 21);
    background-color: rgb(0, 108, 65);
}

.sub {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}