.all-user {
    width: 100%;
    background-color: #020203FF;
    padding: 100px 50px 50px 50px;
    display: flex;
    justify-content: center;
}

.headers img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.all-headerfs {
    width: 20%;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    height: 600px;
}

.headerf {
    margin-top: 50%;
}

.headers {
    text-align: center;
}

.headers h2 {
    color: #929292;
}

.buttons button {
    padding: 5px 10px;
    background-color: #929292;
    border-radius: 10px;
    margin: 5px;
}

.outfa {
    color: red;
    font-size: 50px;
}

.setfa {
    font-size: 50px;
}

.headers button {
    padding: 10px 20px;
    background-color: #929292;
    border-radius: 5px;
    margin: 5px;
    transition: 1s;
}

.headers button:hover {
    background-color: azure;
    border-radius: 25px;
}

.headers button:focus {
    background-color: azure;
    border-radius: 25px;
}

.main-headiv {
    width: 70%;
    border-radius: 10px;
    background-color: #333;
    margin: 5%;
    flex-wrap: wrap;
}

.mainf img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    transition: 1s;
}

.mainf img:hover {
    border-radius: 0;
}

.mainfs {
    padding: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainf p {
    color: white;
    font-size: 40px;
}

.mainf {
    justify-content: center;
    display: block;
}

.butdel {
    display: flex;
}

.butdel button {
    padding:  10px;
    width: 100px;
    background: linear-gradient(
    90deg,
    rgb(104, 0, 0) 0%,
    rgba(253, 29, 29, 1) 100%
    );
    color: #636363;
    border-radius: 25px;
    margin: 10px;
    transition: 1s;
    border: 1px solid #434343;
    font-weight: bolder;
}

.butdel button:hover {
    background-color: rgb(255, 128, 128);
    color: #fff;
    border: 1px solid #fff;
}

.butdel p {
    font-size: 35px;
    margin-top: 10px;
}

.butdel {
    justify-content: center;
}

.mains {
    text-align: center;
    padding: 10px 30px;
}

.infoitem {
    display: flex;
}

.infoitem p {
    margin-left: 10px;
    color: #929292;
}

.infoitem span {
    color: #606060;
}

.mains h3 {
    color: white;
    text-align: center;
}

.change  {
    border: none;
    color: #fff;
    background: rgb(131, 58, 180);
    background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 100%
    );
    border-radius: 15px;
    height: 45px;
    width: 100px;
    transition: all ease 1s;
    margin: 10px;
}

.change:hover {
    transform: scale(1.17);
}

.info-hack {
    display: flex;
    font-size: 20px;
    color: white;
    justify-content: space-between;
    width: 100%;
}

.hackfa {
    margin: 5px;
}

.all-hacked {
    width: 100%;
}

.nothackedyet {
    color: red;
    border: 1px solid red;
    padding: 20px;
    margin: 10px 0 10px 0;
    border-radius: 20px;
    transition: 1s;
}

.nothackedyet:hover {
    color: white;
    border: 1px solid white;
    background-color: red;
}

.infa {
    color: red;
    font-size: 50px;
}

.infar {
    color: greenyellow;
    font-size: 50px;
}

.alreadyhacked {
    color: greenyellow;
    border: 1px solid greenyellow;
    padding: 20px;
    margin: 10px 0 10px 0;
    border-radius: 20px;
    transition: 1s;
}

.alreadyhacked:hover {
    color: darkgreen;
    border-color: darkgreen;
    background-color: greenyellow;
}