.alert-panel {
  width: 100%;
  height: 100%;
  position: fixed;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert {
  width: 370px;
  background: #161b22ff;
  border: 1px solid #30363dff;
  display: flex;
  justify-content: center;
  gap: 7px;
  color: #fff;
}
.success {
  animation: alert-animation 0.8s;
}
.hint {
  animation: alert-animation 1.7s;
}
.error {
  width: 250px;
  top: 20px;
  right: 100px;
  z-index: 10;
  position: fixed;
  animation: alert-error 0.7s;
}
@keyframes alert-error {
  0% {
    right: 140px;
  }
  25% {
    right: 0px;
  }
  50% {
    right: 140px;
  }
  75% {
    right: 0px;
  }
  100% {
    right: 100px;
  }
}

@keyframes alert-animation {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
