.all-header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background: none;
  position: absolute;
}

.downstream-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-div {
  margin-top: 0.8%;
  margin-left: 3%;
}

.info-div a {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
  transition: 0.25s;
}

.info-div a:hover {
  box-shadow: 0 0 5px 0;
  box-shadow: white;
  padding: 5px;
  border-radius: 15px;
}

.info-div  a::selection {
  background-color: rgb(176, 92, 255);
}

.info-div {
  display: flex;
  gap: 15px;
  height: 100%;
  align-items: center;
}

.login-div button {
  border: none;
  color: #fff;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 100%
  );
  border-radius: 25px;
  height: 45px;
  width: 200px;
  transition: all ease 0.5s;
}
.login-div button:hover {
    transform: scale(1.07);
}
@media screen and (max-width: 991px) {
  .info-div,
  .login-div {
    display: none;
  }
}
