@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.header-section {
  height: 120vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../img/Desktop1.png);
}
.header-section-text {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.header {
  font-size: 50px;
  font-family: "Press Start 2P";
}
.texts {
  max-width: 600px;
}
@media screen and (max-width: 500px) {
  .header-section  {
    height: 140vh;
  }
}
@media screen and (max-width: 782px) {
  .header {
    font-size: 35px;
  }
}
.done-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.done-div div {
  display: flex;
}
.done-div div p {
  margin-left: 10px;
  font-weight: bold;
}
.donefa {
  height: 25px;
  width: 25px;
}
@media screen and (max-height: 760px){
  .header-section  {
    height: 130vh;
  }
}
@media screen and (max-height: 660px){
  .header-section  {
    height: 200vh;
  }
}