.all-footer {
    background-color: black;
    margin-top: 3px;
    padding: 20px 10px;
}

.downstream-footer {
    justify-content: center;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.footer-item a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: thick double black;
    border-radius: 5px;
    transition: 0.5s;
}

.footer-item a:hover {
    color: white;
    background-color: rgb(0, 0, 0);
    border: 5px double #ffffff;
    border-radius: 15px;
}

.footer-item a::selection {
    background-color: white;
    color: black;
}

.footer-item h6{
    font-weight: bolder;
    color: #333;
}

.footer-item h6::selection {
    background-color: white;
    color: black;
}


hr {
    padding: 10px;
}

.fames {
    color: white;
    font-size: 25px;
}
  
.footer-item img {
    width: 100px;
    padding: 10px;
    border-radius: 15px;
    transition: 1s;
}

.footer-item img:hover {
    width: 90px;
    border: 1px solid white;
    border-radius: 20px;
}
.footer-item img::selection {
    background-color: white;
    color: black;
}


.first {
    flex-wrap: wrap;
}


.second {
    flex-wrap: wrap;
    padding: 0 0 10px 0;
}

.allfs {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
}


@media screen and (max-width: 500) {
    .allfs {
        flex-wrap: wrap;
    }
}

.copyright {
    text-align: left;
    font-size: 15px;
    flex-wrap: wrap;
    padding: 50px 125px 0 125px;
}

.copyright a {
    text-decoration: none;
    color: rgb(88, 88, 88);
    font-size: 10px;
    transition: 0.75s;
}

.copyright a::selection {
    background-color: white;
    color: black;
}

.copyrightres::selection {
    background-color: white;
    color: black;
}


.copyrightres {
    color: rgb(88, 88, 88);
}

.copyright h6 {
    color: rgb(88, 88, 88);
    transition: 0.5s;
}

.topmarg {
    color: rgb(138, 138, 138);
    margin-top: 20px;
    transition: 0.75s;
}

.topmarg::selection {
    background-color: rgb(255, 0, 0);
    color: black;
}

.pcopy {
    color: rgb(44, 44, 44);
    transition: 0.5s;
}

.pcopy::selection {
    background-color: white;
    color: black;
}

.pcopy:hover {
    color: rgb(200, 200, 200);
    cursor: pointer;
}
.copyright h6:hover{
    cursor: pointer;
    color: white;
}

.copyright h6::selection {
    background-color: white;
    color: black;
}


.copyright a:hover {
    color: white;
    font-size: 15px;
}

.topmarg:hover {
    color: red;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .copyright {
        padding: 0 55px 0 40px;
    }
}