.compat-item h4 {
    font-weight: bolder;
}

.maskfa {
    height: 50px;
    width: 50px;
}

.lefter {
    margin-left: 1%;
}

.compat-item {
    width: 25%;
    text-align: center;
    border: 1px solid;
    border-radius: 25px;
}

.all-compat {
    display: flex;
    margin-top: 10px;
    width: 100%;
}

.lower-compat {
    
}

