.compat-item h4 {
    font-weight: bolder;
    color: white;
}

.maskfa {
    height: 50px;
    width: 50px;
    color: white;
}

.lefter {
    margin-left: 1%;
}

.compat-item {
    min-width: 150px;
    max-width: 240px;
    text-align: center;
    border-radius: 25px;
    border: 1px solid white;
    margin-top: 10px;
}

.all-compat {
    margin-top: 10px;
    display: flex;
    width: 100%;
    
    flex-wrap: wrap;
    background-color: rgb(0, 0, 15);
}

.compat-item p {
    color: white;
}